

body {
    background-color: #bbf;
}

.swalTitle {
    font-size: 3rem;
    text-shadow: 3px 3px 5px;
}


.gridContainer {
    justify-content: center;
    display: grid;
    margin: calc(var(--vh) * 1);
    background-color: #bbf;
    grid-template-columns:  repeat(6, calc(var(--vw) * 16));
    grid-template-rows: 10% repeat(4, calc(var(--vh) * 22.1));
    gap: 0.4rem;
}


#back {
    grid-row: 1;
    grid-column: 1 / 2;
}


.back {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 1%;
    left: 2.5%;
    text-align: center;
    font-size: 3rem;
    margin: 0,5rem;
    background-color: var(--gris2);
    /* opacity: 0.4; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.bar {
    text-align: center;
    align-self: center;
    font-size: 2rem;
    font-weight: bolder;
    min-height: 10%;
}


.points {
    font-size: 3rem;
    font-weight: bolder;
    color: #067506;
}


#p1Div {
    display: flex;
    justify-content: space-around;
    grid-row: 1;
    grid-column: 2 / 4;
}


#p2Div {
    display: flex;
    justify-content: space-around;
    grid-row: 1;
    grid-column: 4 / 6;
}

#player1 {
    justify-self: flex-end;
}


#player2 {
    justify-self: flex-end;
}


#btn {
    grid-row: 1;
    grid-column: 6 / 7;
    height: calc(var(--vh) * 7);
    font-size: 2rem;
    background-color: #255891;
    color: #ddf;
    border: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}


.card {
    width: calc(var(--vw) * 16);
    height: calc(var(--vh) * 22.1);
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transform-style: preserve-3d;
}


.frontCard, .backCard {
    height: 100%;
    width: 100%;
    display: block;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transform-style: preserve-3d;
}

.frontCard {
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
    -moz-transform: perspective(600px) rotateY(-180deg);
    -ms-transform: perspective(600px) rotateY(-180deg);
    -o-transform: perspective(600px) rotateY(-180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}


.backCard {
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -ms-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}


.flipBackCard {
    transform: perspective(600px) rotateY(180deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    -moz-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
}


.flipFrontCard {
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -ms-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
}




#btn:hover {
    font-weight: bolder;
    background-color: #44e;
}


