
#root {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 95vh;
    flex-wrap: wrap;
    background-color: #333;
    padding: 5px;
}


.myHeader {
    display: flex;
}

#imagen {
    width: 300px;
    height: 200px;
}

.origen, .destino {
    display: grid;
    grid-template-columns: repeat(8, 77px);
    grid-template-rows: repeat(5, 72px);
    margin: 5px 0px;
    border: 5px solid #444;
    box-shadow: 0px 0px 10px 5px #44c;
}


.origen__img, .destino__img {
    width: 77px;
    height: 72px;
    outline: 0.1px dashed #aaa;
    object-fit: none;
}


.destino__img:hover {
    opacity: 0.6;
}


.origen__img:hover {
    opacity: 0.6;
} 


@media screen and (orientation: portrait) {
    #root {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}
